<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StackMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StackMonitor.Properties.Settings>
            <setting name="ConnectedUser" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TagGroupList" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBadgesCheckTime" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastReputationCheckTime" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="NewQuestionTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ReputationChangeTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewBadgeTimeout" serializeAs="String">
                <value>0</value>
            </setting>
        </StackMonitor.Properties.Settings>
    </userSettings>
</configuration>